<div class="jumbotron">
  <ui-gmap-google-map refresh="true" center="bachesMapa.center" zoom="8">
    <ui-gmap-marker ng-repeat="m in mapBump" coords="m.coords" idkey="m.id" click="onClick(m.id)"></ui-gmap-marker>
  </ui-gmap-google-map >
</div>



<input class="btn btn-info" ng-show="!logeado" value="Registrarse" ng-click="showRegisterModal()"></input>
<input class="btn btn-info" ng-show="!logeado" value="Login" ng-click="showLoginModal()"></input>


<div id="bachesModal" class="modal fade">
  <div class="baches-dialog">
    <div class="baches-content">
    </div>
  </div>
</div>




<div id="loginModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>

            <h4 style="color:#ff6666" ng-repeat="error in erroresLogin">{{error}}</h4>

            <div class="modal-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control input-sm" ng-model="email"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" ng-model="password" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-info" value="Login" ng-click="login()">
            </div>
        </div>
    </div>
</div>


<div id="registrationModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registro</h4>
            </div>

            <h4 style="color:#ff6666" ng-repeat="error in erroresRegistro">{{error}}</h4>

            <div class="modal-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control input-sm" ng-model="email"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" ng-model="password" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password-confirmation">Password:</label>
                <input id="password-confirmation" ng-model="passwordConfirmation" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-info" value="Registrarse" ng-click="registrar()">
            </div>
        </div>
    </div>
</div>

<div id="registrationModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registro</h4>
            </div>

            <h4 style="color:#ff6666" ng-repeat="error in erroresRegistro">{{error}}</h4>

            <div class="modal-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control input-sm" ng-model="email"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" ng-model="password" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password-confirmation">Password:</label>
                <input id="password-confirmation" ng-model="passwordConfirmation" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-info" value="Registrarse" ng-click="registrar()">
            </div>
        </div>
    </div>
</div>
