    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Bacheracha</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">

              <li><input class="btn btn-info" readonly="true" ng-show="!logeado" value="Login" ng-click="showLoginModal()"></input></li>

              <li class="active"><input class="btn btn-info" readonly="true" ng-show="!logeado" value="Registrarse" ng-click="showRegisterModal()"></input></li>

              <li><input class="btn btn-info" readonly="true" ng-show="logeado" value="Registra un bache" ng-click="showNewBacheModal()"></input></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="jumbotron">
  <ui-gmap-google-map refresh="true" center="bachesMapa.center" zoom="8">
    <!--<ui-gmap-circle visible='true' clickable='true' radius='1' ng-repeat="m in mapBump track by m.id" center="m.coords" click="onClick(m.id)"></ui-gmap-cirle>-->
    <ui-gmap-marker ng-repeat="m in mapBump" coords="m.coords" idkey="m.id" click="searchBump(m.id)">
    
    </ui-gmap-marker>
  </ui-gmap-google-map>
  
</div>





<div id="loginModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>

            <h4 style="color:#ff6666" ng-repeat="error in erroresLogin">{{error}}</h4>

            <div class="modal-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control input-sm" ng-model="email"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" ng-model="password" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-info" value="Login" ng-click="login()">
            </div>
        </div>
    </div>
</div>


<div id="registrationModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registro</h4>
            </div>

            <h4 style="color:#ff6666" ng-repeat="error in erroresRegistro">{{error}}</h4>

            <div class="modal-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control input-sm" ng-model="email"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" ng-model="password" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password-confirmation">Password:</label>
                <input id="password-confirmation" ng-model="passwordConfirmation" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-info" value="Registrarse" ng-click="registrar()">
            </div>
        </div>
    </div>
</div>

<div id="registrationModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registro</h4>
            </div>

            <h4 style="color:#ff6666" ng-repeat="error in erroresRegistro">{{error}}</h4>

            <div class="modal-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control input-sm" ng-model="email"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" ng-model="password" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="password-confirmation">Password:</label>
                <input id="password-confirmation" ng-model="passwordConfirmation" type="Password" class="form-control input-sm"/>
              </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-info" value="Registrarse" ng-click="registrar()">
            </div>
        </div>
    </div>
</div>

<div id="newBacheModal" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nuevo bache</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <h4 style="color:#ff6666" ng-repeat="error in erroresBache">{{error}}</h4>
              </div>
            </div>

          
            <div class="modal-body">
              <div class="form-group">
                <label for="lengthSteps">¿Cúantos pasos tiene de largo el bache?:</label>
                <input id="lengthSteps" ng-change="calcular()" min="1" max="30" type="number" class="form-control input-sm" ng-model="lengthSteps" />
              </div>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="widthSteps">¿Cúantos pasos tiene de ancho el bache?:</label>
                <input id="widthSteps" ng-change="calcular()" min="1" max="30" type="number" class="form-control input-sm" ng-model="widthSteps"/>
              </div>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="depth">¿Cuál es la profundidad del bache?:(cm)
                </label>
                <input id="depth" ng-change="calcular()" min="1" max="100" type="number" class="form-control input-sm" ng-model="depth"/>
              </div>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="url">URL de tu video:  
                </label>
                <input id="url" type="text" class="form-control input-sm" ng-model="videoUrl"/>
              </div>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label>Kg de asfalto necesarios: {{kg}} kg 
                </label>
              </div>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label>Número de costales: {{costales}}  
                </label>
              </div>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label>Precio: ${{price}}  
                </label>
              </div>
            </div>

            <div class="modal-footer">
                <input class="btn btn-info" value="Registrar bache" ng-click="registrarBache()">
            </div>
        </div>
    </div>

</div>


<div id="editBacheModal" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editar bache</h4>
            </div>

            <h4 style="color:#ff6666">{{errorEdit}}</h4>
          
            <div class="modal-body">
              <p>Dimensiones: {{bache.lengthSteps}} pasos a lo largo, por {{bache.widthSteps}} pasos a lo ancho, por {{bache.depth}}cm de profundidad</p>
            </div>

            <div class="modal-body">
                <p>Kg de asfalto necesarios: {{bache.kg}}kg 
                </p>
            </div>

            <div class="modal-body">
                <p>Número de costales necesarios: {{bache.costales}}  
                </p>
            </div>

            <div class="modal-body">
                <p>Precio: ${{bache.price}}  
                </p>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="url">URL de tu video:  
                </label>
                <input id="url" type="text" class="form-control input-sm" ng-model="bache.videoUrl"/>
              </div>
            </div>

            <div class="modal-footer">
                <input class="btn btn-info" value="Modificar bache" ng-click="modificarBache()">
            </div>
        </div>
    </div>
    
</div>

<div id="coperachaModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cooperar</h4>
            </div>


            <div class="modal-footer">
                <input ng-click="showPayModal()" class="btn btn-info" value="Copera con tu tarjeta">
            </div>

            <p>{{coperadores}}</p>

            <div class="modal-body">
              <p>Dimensiones: {{bache.lengthSteps}} pasos a lo largo, por {{bache.widthSteps}} pasos a lo ancho, por {{bache.depth}}cm de profundidad</p>
            </div>

            <div class="modal-body">
                <p>Kg de asfalto necesarios: {{bache.kg}}kg 
                </p>
            </div>

            <div class="modal-body">
                <p>Número de costales necesarios: {{bache.costales}}  
                </p>
            </div>

            <div class="modal-body">
                <p>Precio: ${{bache.price}} </p>
            </div>
        </div>
    </div>
    
</div>


<div id="payModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tarjetazo: Faltan ${{meta}}</h4>
            </div>

            <form name="ccForm">
              <div class="form-group">
                <label for="card-number">Card Number</label>
                <input type="text" class="form-control" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.number">
              </div>
              <table class="table">
                <tr>
                  <th>Valid</th>
                  <th>Eager Type</th>
                  <th>Type</th>
                </tr>
                <tr>
                  <td>
                    {{ccForm.ccNumber.$valid | yesNo}}
                  </td>
                  <td>
                    {{ccForm.ccNumber.$ccEagerType || 'Unknown'}}
                  </td>
                  <td>
                    {{ccForm.ccNumber.$ccType || 'Unknown'}}
                  </td>
                </tr>
              </table>
              <div class="form-group">
                <label for="cvc">CVC</label>
                <input type="text" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc">
              </div>
              <div class="form-group">
                <label for="card-number">Expiration</label>
                <div class="row" cc-exp>
                  <div class="col-xs-3">
                    <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.expiration.month">
                  </div>
                  <div class="col-xs-3">
                    <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.expiration.year">
                  </div>
                </div>
              </div>
            </form>

            <div class="modal-body">
              <div class="form-group">
                <label for="lengthSteps">¿Cuántos pesos donaras?:</label>
                <input id="money" min="1" max="meta" type="number" class="form-control input-sm" ng-model="money" />
              </div>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="lengthSteps">Agrega un comentario:</label>
                <input ng-model="comment" type="text" class="form-control input-sm"/>
              </div>
            </div>

            <div class="modal-footer">
                <input class="btn btn-info" ng-click="registrarCoperacha()" value="Coperacha">
            </div>

        </div>
    </div>
</div>


<div id="viewBacheModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ver bache:</h4>
            </div>

            <h4 ng-show="bache.completed">El bache ya fue arreglado</h4>

            <div class="modal-footer">
                <input ng-show="isUserBump()" ng-click="showBacheEditModal()" class="btn btn-info" value="Modificar bache">
            </div>

            <div class="modal-footer">
                <input ng-show="!bache.completed" ng-click="showCoperachaModal()" class="btn btn-info" value="Coperacha">
            </div>




            <div class="embed-responsive embed-responsive-16by9">
            <youtube-video class="embed-responsive-item" video-id="dynamic.video"></youtube-video>
            </div>
        </div>
    </div>
</div>
